<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col>
        Considering that the chain’s main draw is high quality food at low prices, it makes sense that customers might question how Trader Joe’s can afford to charge less than other brands. This short explanation answers that question, and it’s easy to see how it could be very effective at drawing new customers to their local store.
      </ion-col>
    </ion-row>
</ion-content>